################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/C#/.vs/BookReader/v16/Server/sqlite3
/.vs/RaspberryPi.BookReader/v16
/.vs
*.suo
/C#/BookReader/.vs/BookReader/v16/Server/sqlite3
/C#/BookReader/bin
/C#/BookReader/obj
/C#/CCommonLib/bin
/C#/CCommonLib/obj
/C#/CGraphic/bin
/C#/CGraphic/obj
/C#/CReader/bin
/C#/CReader/obj
/C#/CUI/bin
/C#/CUI/obj
/C#/EInkLib/bin
/C#/EInkLib/obj
*.pdb
*.user
*.cache
*.txt
*.user
*.CopyComplete
/C#/EInkLib/obj/x64/Debug/.NETFramework,Version=v4.0.AssemblyAttributes.cs
/C#/CUI/obj/x64/Debug/.NETFramework,Version=v4.0.AssemblyAttributes.cs
/C#/CReader/obj/x64/Debug/.NETFramework,Version=v4.0.AssemblyAttributes.cs
/C#/BookReader/obj/x64/Debug/.NETFramework,Version=v4.0.AssemblyAttributes.cs
/C#/BookReader/bin/x64/Debug/Fonts/40.font
/C#/BookReader/bin/x64/Debug/Cache/C28D00
*.exe
/C#/CGraphic/obj/x64/Debug/.NETFramework,Version=v4.0.AssemblyAttributes.cs
/C#/CCommonLib/obj/x64/Debug/.NETFramework,Version=v4.0.AssemblyAttributes.cs
